<section class="hotline-section background">
    <div class="part1">
        <div class="row">
            <div class="card">
                <div class="in_card" id="card1">
                    <div class="logo1">
                        <img src="/images/online.png" alt="">
                    </div>
                    <p>Online</p>
                    <p>1</p>
                </div>
            </div>
            <div class="card">
                <div class="in_card" id="card2">
                    <div class="logo2">
                        <img src="/images/lunckbreak.png" alt="">
                    </div>
                    <p>On Break</p>
                    <p>2</p>
                </div>
            </div>
            <div class="card">
                <div class="in_card" id="card3">
                    <div class="logo2">
                        <img src="/images/wfh.png" alt="">
                    </div>
                    <p>WFH</p>
                    <p>22</p>
                </div>
            </div>
            <div class="card">
                <div class="in_card" id="card4">
                    <div class="logo2">
                        <img src="/images/offline.png" alt="">
                    </div>
                    <p>Offline</p>
                    <p>3</p>
                </div>
            </div>
            <div class="card">
                <div class="in_card" id="card5">
                    <div class="logo2">
                        <img src="/images/leave.png" alt="">
                    </div>
                    <p>On Leave</p>
                    <p>4</p>
                </div>
            </div>
        </div>
    </div>
    <div class="part2">
        <div class="select">
            <input type="text" name="search">
            <!-- <input type="submit" name="searchbtn" value="Search" class="btnsearch"> -->
            <a href="#" class="btnser">Search</a>
        </div>
    </div>
    <div class=" part3">
        <div class="row-ht">
            

            <% for(let i=0; i<alldetails.length; i++) {%>
                <div class="col-ht">
                    <div class="col-ht-in">
                        <div class="r1">
                            <a href="">Online</a>
                        </div>
                        <div class="r2">
                            <img src="/images/demo.png" alt="">
                            <h2>
                                <%= alldetails[i].firstname %>
                            </h2>
                            <p>
                                <%= alldetails[i].designation %>
                            </p>
                        </div>
                        <div class="fade-area">
                            <div class="r3">
                                <div class="prof1">
                                    <p class="hd">Department</p>
                                    <p>Development</p>
                                </div>
                                <div class="prof1">
                                    <p class="hd">Date Hired</p>
                                    <p>
                                        <%= alldetails[i].time_stamp.toJSON('yyyy-mm-dd').slice(0,10) %>
                                    </p>
                                </div>
                            </div>
                            <div class="r4">
                                <div class="pf1">
                                    <div class="head1">
                                        <p>
                                            <i class="fa-solid fa-envelope"></i>
                                        </p>
                                        <p>
                                            <i class="fa-sharp fa-solid fa-phone-volume"></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="pf2">
                                    <div class="head2">
                                        <div class="email">
                                            <p>
                                                <%= alldetails[i].email %>
                                            </p>
                                        </div>
                                        <p>
                                            <%= alldetails[i].phone_number %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <% } %>
            </div>
    </div>

</section>
