<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/profilecss.css">
</head>

<body>
    <h1>hello</h1>
    <div class="container">
        <div class="row">
            <div class="col1">
                <div class="card1">
                    <div class="card-in">
                        <img src="/images/demo.png" alt="">
                        <p>jshjxdhskk</p>
                    </div>
                </div>

                <div class="card1">
                    <div class="card-in">
                        <h2>jhsjdhj</h2>
                        <p>abcsg</p>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="card2">
                    <div class="card2-in">
                        <h2>Basic Information</h2>
                        <div class="basic-row">
                            <div class="basic-col">
                                <table>
                                    <tr>
                                        <td>First_name</td>
                                        <td>
                                            <%= basicdata[0].firstname %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Last_name</td>
                                        <td>
                                            <%= basicdata[0].lastname %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>
                                            <%= basicdata[0].email %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Phone</td>
                                        <td>
                                            <%= basicdata[0].phone_number%>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>city</td>
                                        <td>
                                            <%= basicdata[0].city %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>state</td>
                                        <td>
                                            <%= basicdata[0].state %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Gender</td>
                                        <td>
                                            <%= basicdata[0].gender %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>zipcode</td>
                                        <td>
                                            <%= basicdata[0].zip_code %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>birthdate</td>
                                        <td>
                                            <%= basicdata[0].birth_date %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>address</td>
                                        <td>
                                            <%= basicdata[0].address %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Relationship</td>
                                        <td>
                                            <%= basicdata[0].relationship %>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>designation</td>
                                        <td>
                                            <%= basicdata[0].designation %>
                                        </td>
                                    </tr>

    

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col3">
                <p>judhjusehdfuj</p>
            </div>

        </div>
    </div>
    <!-- <table border="1">
        <thead>
            <tr>
            <td>First_name</td>
            <td>Last_name</td>
            <td>email</td>
            <td>phone</td>
            <td>City</td>
            <td>state</td>
            <td>gender</td>
            <td>zipcode</td>
            <td>birth_date</td>
            <td>address</td>
            <td>relationshiP_status</td>
            <td>designation</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<basicdata.length;i++) { %>
                  <tr>
                    <td><%= basicdata[0].firstname %></td>
                    <td><%= basicdata[0].lastname %></td>
                    <td><%= basicdata[0].email %></td>
                    <td><%= basicdata[0].phone_number%></td>
                    <td><%= basicdata[0].city %></td>
                    <td><%= basicdata[0].state %></td>
                    <td><%= basicdata[0].gender %></td>
                    <td><%= basicdata[0].zip_code %></td>
                    <td><%= basicdata[0].birth_date %></td>
                    <td><%= basicdata[0].address %></td>
                    <td><%= basicdata[0].relationship %></td>
                    <td><%= basicdata[0].designation %></td>
                  </tr>                           
           <% } %>
        </tbody>
    </table>
    <br><br><br>
    <table border="1">
        <thead>
            <tr>
            <td>course_name</td>
            <td>percent</td>
            <td>colg</td>
            <td>pass year</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<educationdata.length;i++) { %>
            <tr>
                <td><%= educationdata[0].course_name %></td>
                <td><%= educationdata[0].percentage %></td>
                <td><%= educationdata[0].board_university_name %></td>
                <td><%= educationdata[0].passout_year%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br><br><br>
    <table border="1">
        <thead>
            <tr>
            <td>company_name</td>
            <td>designation_company</td>
            <td>start_date</td>
            <td>end_date</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<experiencedata.length;i++) { %>
            <tr>
                <td><%= experiencedata[0].company_name %></td>
                <td><%= experiencedata[0].designation_company %></td>
                <td><%= experiencedata[0].start_date %></td>
                <td><%= experiencedata[0].end_date%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br><br><br>
    <table border="1">
        <thead>
            <tr>
            <td>name</td>
            <td>number</td>
            <td>relationship</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<referencedata.length;i++) { %>
            <tr>
                <td><%= referencedata[0].name %></td>
                <td><%= referencedata[0].number %></td>
                <td><%= referencedata[0].relationship%></td>
            </tr>
            <% } %>
        </tbody>
    </table> -->
</body>

</html>