<section class="site-wrap background home">
    <div class="main-body ag-format-container">

        <div class="leave-class">
            <div class="container_1">
                <div class="row">



                    <div class="col-4">
                        <div class="add-btn">
                            <i class="fa fa-plus"></i><span class="text-add"
                                onclick="document.getElementById('id01').style.display='block'"> Add</span>
                        </div>
                    </div>

                </div>
             
                <div class="container-1">


                    <table class="tbl">
                        <div class="main-div-tbl">
                            <thead class="tr-head">
                                <tr>
                                    <td class="t1"></td>
                                    <td class="t2">Leave Type<img src="/images/sort1.png" class="sort"></td>
                                    <td class="t2">Date<img src="/images/sort1.png" class="sort"></td>
                                    <td class="t2">Days<img src="/images/sort1.png" class="sort"></td>
                                    <td class="t2">Status<img src="/images/sort1.png" class="sort"></td>
                                    <td class="t2">Edit<img src="/images/sort1.png" class="sort"></td>
                                    <td class="t2">Approve Leave<img src="/images/sort1.png" class="sort"></td>
                                    <td class="t2">Cancel Leave<img src="/images/sort1.png" class="sort"></td>
                                </tr>
                            </thead>
                        </div>
                        <% for(var i=0;i<data.length;i++){%>
                            <tbody class="tbody-css">

                                <tr>
                                    <td class="td1">
                                        <%= i+1 %>
                                    </td>
                                    <td class="td1">
                                        <%= data[i].leave_category%>
                                    </td>
                                    <td class="td1">
                                        <%= data[i].leave_date%>
                                    </td>
                                    <td class="td1"> 1 day</td>
                                    <td class="td1">
                                        <%= data[i].leave_status%>
                                    </td>
                                    <td class="td1" onclick="leave_edit(`<%= data[i].request_id%>`,`<%= i %>`)">Edit
                                    </td>
                                    <td class="td1" onclick="leave_approve(`<%= data[i].request_id%>`)">Approve Leave
                                    </td>
                                    <td class="td1" onclick="leave_cancel(`<%= data[i].request_id%>`)">Cancel Leave
                                    </td>

                                </tr>

                            </tbody>
                            <% } %>
                    </table>


                    <div class="tbl-footer">
                        <div class="row">

                            <div class="col-1">
                                <div class="card">
                                    

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
               
                <div class="part4">
                    <div class="row-page">
                        <div class="m_t_b">
                            <p>Show all entries</p>
                        </div>
                        <div>
                            <% for(i=1; i<=count; i++){ %>
                                <% if (curr_page==i){%>
                                    <a id="pageno" href="#"><b>
                                            <%= i%>
                                        </b></a>
                                    <% } else {%>
                                        <a id="pageno" href="/leaves?num=<%= i%>">
                                            <%= i%>
                                        </a>
                                        <%}%>
                                            <%}%>


                        </div>

                    </div>
                </div>
                <div id="edit_leave">

                </div>
            </div>
        </div>
    </div>
    </div>

</section>

<div id="id01" class="modal">

    <form class="modal-content animate" method="post" action="/leaves">

      
        <div class="main-modal">
            <div class="row-1">
                <div class="col-1">
                    <div class="modal-container">
                        <span>Add Leave</span>
                    </div>
                </div>
                <div class="col-1">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>
            </div>

            <div class="container-2">
                <div class="row">
                    <div class="col-6">
                        <label><b>Leave Date</b></label>
                        <input type="date" placeholder="Leave Date" name="ldate" id="ldate">
                        <span class="span1" id="leave-error"></span>
                    </div>
                    <div class="col-6">
                        <label><b>Leave Type</b></label>
                        <select class="s1" name="leavetype" id="leavetype">
                      
                            <option value="SL">SL</option>
                            <option value="CL">CL</option>
                            <option value="PL">PL</option>
                            <option value="UPL">UPL</option>

                        </select>
                        <span class="span1" id="ltype-error"></span>
                    </div>
                   

                </div>
                <div class="row">
                    <div class="col-8">
                        <label for="reason">Reason</label>
                        <textarea rows="4" name="reason" id="reason"></textarea>
                        <span class="span1" id="reason-error"></span>
                    </div>
                </div>
                
            </div>

            <div class="container-2">
                <div class="row">

                    <div class="col-8">
                        <div class="c1">
                            <span class="cancel"
                                onclick="document.getElementById('id01').style.display='none'">Cancel</span>
                            <input type="submit" class="apply" onclick="return leaveFunction()" value="Apply">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>
</div>




<script>



    function leave_edit(leave, b) {

console.log(leave,"qqq");
        fetch(`/leave_edit?request_id=${leave}`, {
            method: "post",
            headers: {
                "Content-type": "application/json",
            },
        })
            .then((res) => res.json())

            .then((result_edit) => {
               console.log(result_edit,"nnnnnnn");
                var edit_leave = document.getElementById("edit_leave")

                var s = ""
                s += `

    <form class="modal-content animate" id="close_edit" method="post" action="/update_leaves" >

      
        <div class="main-modal">
            <div class="row-1">
                <div class="col-1">
                    <div class="modal-container">
                        <span>Add Leave</span>
                    </div>
                </div>
                <div class="col-1">
                    <span onclick="document.getElementById('close_edit').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>
             
            </div>

            <div class="container-2">
                <div class="row">
                    <div class="col-6">
                        <label><b>Leave Date</b></label>
                        <input type="date" placeholder="Leave Date" name="ldate" id="ldate" value= ${result_edit[0].leave_date} >
                        <span class="span1" id="leave-error"></span>
                    </div>
                    <div class="col-6">
                        <label><b>Leave Type</b></label>
                        <select class="s1" name="leavetype" id="leavetype">`

                           var arr =['SL','CL','PL','UPL'] 
                           
                         

                            for(var i=0;i<arr.length ;i++) {
                                
                            

console.log(typeof arr[0],"zzx")
                                console.log(arr[i] ===  result_edit[0].leave_category,"valuessss")
                                if( arr[i] ==  result_edit[0].leave_category ){
                                    console.log(typeof result_edit[0].leave_category,"aaaaaaaaaaaaa")
                                    s+=` <option value=`+arr[i]+` selected >`+arr[i]+`</option>`
                                     }else{
                                      s+=`<option value=`+arr[i]+`>`+arr[i]+`</option>`
                                      console.log("s sringt ")
                                     }
                                 
                                    }
                        

                    s+=   ` </select>
                        <span class="span1" id="ltype-error"></span>
                    </div>
                

                </div>
                <div class="row">
                    <div class="col-8">
                        <label for="reason">Reason</label>
                        <textarea rows="4" name="reason" id="reason">${result_edit[0].leave_reason}</textarea>
                        <span class="span1" id="reason-error"></span>
                    </div>
                </div>
                <div>
                    <input type="hidden" value=${result_edit[0].request_id} name="request_id" id="request_id">
                </div>

            </div>

            <div class="container-2">
                <div class="row">

                    <div class="col-8">
                        <div class="c1">
                            <span class="cancel"
                                onclick="document.getElementById('close_edit').style.display='none'">Cancel</span>
                            <input type="submit" class="apply" onclick="return leaveFunction() " value="Apply">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>
`


                 edit_leave.innerHTML = s
                

            })


   
    }
    var modal = document.getElementById('id01');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    // leave approve

    function leave_approve(approve) {


if (confirm(`You are sure Approve Leave`)) {
    fetch(`/leave_approve?request_id=${approve}`, {
            method: "post",
            headers: {
                "Content-type": "application/json",
            },
        }).then((res)=>{
            res.json()
            location.reload()
        })
}
       
    }

// cancel leave


function leave_cancel(cancel) {


if (confirm(`You Are Sure Cancel Leave`)) {
    fetch(`/leave_cancel?request_id=${cancel}`, {
            method: "post",
            headers: {
                "Content-type": "application/json",
            },
        }).then((res)=>{
            res.json()
            location.reload()
        })
}
       
    }

    // validation



    function leaveFunction() {

        var ldate = document.getElementById('ldate').value || "";
        var reason = document.getElementById('reason').value || "";
        var ltype = document.getElementById('leavetype').value || "";
        console.log(ltype,reason,ldate,"asssssssssssaaaaaaa");
        var isvalidate = true;

        // validation
        if (ldate == null || ldate == "") {
            document.getElementById('leave-error').innerHTML = "Please fill date ";
            isvalidate = false;
        }
        else {
            document.getElementById('leave-error').innerHTML = "";
        }

        if (ltype == null || ltype == "") {
            document.getElementById('ltype-error').innerHTML = "Please select type ";
            isvalidate = false;
        }
        else {
            document.getElementById('ltype-error').innerHTML = "";
        }

        if (reason == null || reason == "") {
            document.getElementById('reason-error').innerHTML = "Please enter reason";
            isvalidate = false;
        }
        else {
            document.getElementById('reason-error').innerHTML = "";
        }
        return isvalidate;

      
    }

</script>