    <section class="site-wrap background home">
        <div class="main-body ag-format-container">

            <div class="leave-class">
                <div class="container_1">
                    <div class="row">
                        
                        <div class="col-2">
                            <div class="select">
                                <select>
                                    <option value="all">Duration:All</option>
                                    <option value="this month">This Month</option>
                                    <option value="Last 30 days">Last 30 days</option>
                                    <option value="Last 3 months">Last 3 months</option>
                                    <option value="Last 6 months">Last 6 months</option>
                                    <option value="Last Year">Last Year</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-2">
                            <div class="select">
                                <select>
                                    <option value="all">Status:All</option>
                                    <option value="this month">Accepted</option>
                                    <option value="Last 30 days">Rejected</option>
                                    <option value="Last 3 months">Pending</option>
                                    <option value="Last 6 months">WFH</option>
                                    <option value="Last Year">Cancel</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="add-btn">
                                <i class="fa fa-plus"></i><span class="text-add"
                                    onclick="document.getElementById('id01').style.display='block'"> Add</span>
                            </div><!-- <div class="add-btn">
                        <i class="fa fa-plus"></i> <span class="text-add" onclick="document.getElementById('id01').style.display='block'"> Add</span>
                    </div> -->
                        </div>

                    </div>
                    <!--  -->
                    <div class="container-1">

                      
                        <table class="tbl">
                            <div class="main-div-tbl">
                                <thead class="tr-head">
                                    <tr>
                                        <td class="t1"></td>
                                        <td class="t2">Leave Type<img src="/images/sort1.png" class="sort"></td>
                                        <td class="t2">Date<img src="/images/sort1.png" class="sort"></td>
                                        <td class="t2">Days<img src="/images/sort1.png" class="sort"></td>
                                        <td class="t2">Status<img src="/images/sort1.png" class="sort"></td>
                                    </tr>
                                </thead>
                            </div>
                            <% for(var i=0;i<data.length;i++){%>
                            <tbody class="tbody-css">
                               
                                <tr>
                                    <td class="td1"><%= data[i].employee_id%></td>
                                    <td class="td1"><%= data[i].leave_category%></td>
                                    <td class="td1"><%= data[i].leave_date%></td>
                                    <td class="td1"> 1 day</td>
                                    <td class="td1"><%= data[i].leave_status%></td>
                                </tr>
                              
                            </tbody>
                            <% } %>
                        </table>
                        <div class="tbl-footer">
                            <div class="row">
                                <div class="col-1">
                                    <div class="card">
                                        <span class="f1">Showing 0 to 0 of entries</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="icons">
                                        <!--  -->
                                        <!-- <% if (curr_page==1){ %>
                                            <a href="#">Previous</a>
                                            <%} else { %>
                                                <a href="/leaves?num=<%= curr_page-1%>">Previous</a>
                                        <%}%>
                                    
                                        <% if(curr_page==count){ %>
                                             <a href="#">Next</a>
                                        <%}else {%>
                                             <a href="/leaves?num=<%= curr_page+1%>">Next</a>
                                        <%}%> -->
                                        <!--  -->
                                        <div class="left">
                                            <i class="fa fa-angle-double-left "
                                                style="font-weight: bold;font-size: 18px;"></i>
                                        </div>
                                        <div class="left">
                                            <i class="fa fa-angle-left " style="font-weight: bold;font-size: 18px;"></i>
                                        </div>
                                        <div class="left">
                                            <i class="fa fa-angle-right "
                                                style="font-weight: bold;font-size: 18px;"></i>
                                        </div>
                                        <div class="left">
                                            <i class="fa fa-angle-double-right">
                                                style="font-weight: bold;font-size: 18px;"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>
    <!-- model -->
    <div id="id01" class="modal">

        <form class="modal-content animate"  method="post" action="/leaves" >

            <!-- <div class="imgcontainer">
                </div> -->
            <div class="main-modal">
                <div class="row-1">
                    <div class="col-1">
                        <div class="modal-container">
                            <span>Add Leave</span>
                        </div>
                    </div>
                    <div class="col-1">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                    </div>
                </div>

                <div class="container-2">
                    <div class="row">
                        <div class="col-6">
                            <label><b>Leave Date</b></label>
                            <input type="date" placeholder="Leave Date" name="ldate">
                        </div>
                        <div class="col-6">
                            <label><b>Leave Type</b></label>
                            <select class="s1" name="leavetype">
                                <option value="hide" >Select Leave Type</option>
                                <option value="SL">SL</option>
                                <option value="CL">CL</option>
                                <option value="PL">PL</option>
                                <option value="UPL">UPL</option>

                            </select>
                        </div>
                        <div class="col-7">
                            
                            <label><b>Half Day</b></label>
                            <div class="toggle">
                                <label class="switch">  
                                <input type="checkbox" name="halfday">
                                <span class="slider round"></span>
                            </label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label for="reason">Reason</label>
                            <textarea rows="4" name="reason"></textarea>
                        </div>
                    </div>
                </div>

                <div class="container-2">
                    <div class="row">

                        <div class="col-8">
                            <div class="c1">
                                <span class="cancel">Cancel</span>
                                <input type="submit" class="apply" value="Apply">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

<script>
    var modal = document.getElementById('id01');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>